<launch>    
    <!-- Launch file for NMEA sentence parser, with GPS and depth information from Lowrance side-scanner -->
    
    <!-- UDP address (default from environment variable) and port -->
    <arg name="address" default="$(env SONAR)" />
    <arg name="port" default="10110" />
    <arg name="frame" default="lowrance" />
    
    <!-- Run UDP node -->
    <node name="nmea_depth_udp" pkg="ros_nmea_depth" type="nmea_depth_tcp.py" output="screen" >
        <param name="udp/address" value="$(arg address)" />
        <param name="udp/port" value="$(arg port)" />
        <param name="frame_id" value="$(arg frame)" />
    </node>
</launch>
